/node_modules
/dist
.dockerignore
Dockerfile
*.md
.pnpm-debug.log
/uploads
.vscode
.claude
.git

# .envs
.env
# .env.dev / .env.prod (and account json for firebase) should be allowed to copy
# into the container otherwise how it will run
